<div id="id" data-bind-id></div>
<div id="amount" data-bind-amount></div>
<div id="comment" data-bind-comment></div>
<div id="date" data-bind-date></div>
<div id="sum" data-bind-sum></div>
<div id="transaction-type" data-bind-transaction-type></div>
